[submodule "tools/Depth-Anything-V2"]
	path = tools/Depth-Anything-V2
	url = https://github.com/DepthAnything/Depth-Anything-V2.git
[submodule "tools/Video-Depth-Anything"]
	path = tools/Video-Depth-Anything
	url = https://github.com/DepthAnything/Video-Depth-Anything.git
[submodule "tools/utils3d"]
	path = tools/utils3d
	url = https://github.com/EasternJournalist/utils3d.git
[submodule "tools/FVD"]
	path = tools/FVD
	url = https://github.com/zhizhou57/FVD.git
[submodule "tools/vipe"]
	path = tools/vipe
	url = https://github.com/nv-tlabs/vipe.git
[submodule "tools/TrajectoryAttention"]
	path = tools/TrajectoryAttention
	url = https://github.com/xizaoqu/TrajectoryAttention.git
[submodule "tools/TrajectoryCrafter"]
	path = tools/TrajectoryCrafter
	url = https://github.com/TrajectoryCrafter/TrajectoryCrafter.git
[submodule "tools/DiffusionAsShader"]
	path = tools/DiffusionAsShader
	url = https://github.com/IGL-HKUST/DiffusionAsShader.git
[submodule "tools/NVS_Solver"]
	path = tools/NVS_Solver
	url = https://github.com/ZHU-Zhiyu/NVS_Solver.git
