accelerate
clean-fid
diffusers>=0.32.2
decord
dotdict
easydict
einops
evo
hydra-core
imageio[ffmpeg]
imagesize
jaxtyping
kornia
lovely_tensors
lpips
numba
opencv-python
OpenEXR
pathos
pycolmap
pytorch-ignite
pyvista
tabulate
timm
torchmetrics
transformers
rerun-sdk
viser
wandb
-e ./tools/utils3d
./tools/FVD/fvdcal-1.0-py3-none-any.whl
